  /* .formcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .formulario {
    font-family: 'Montserrat', sans-serif;
    color: #1a1a1a;
    background-color: #ccc;
    border-radius: 6px;
    width: 400px;
    padding: 20px;
  
  }

  .formulario h1 {
    text-align: center;
    font-size: 150%;
  }

  .formulario label {
    font-size: 90%;
  }

 .formulario input {
    border: none;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 2.3%;
  }

  .formgroup {
    margin: 2% 0;
  }

  .formgroup input {
    width: 96%;
    margin-top: 1%;
    margin-bottom: 2%;  
  }
  
  .formgroup label {
    display: block;
  }
  
  .formgroup2 {
    display: flex;  
    align-items: center;
    flex: 1;
    margin-right: 10px;
    margin-top: 10px;
  }

  label[for="fechaExpiracionMes"] {
    text-align: center;
  }

  .formgroup2 input {
    width: 15%;
    margin: 2%;
  }
  
  .formulario button {
    display: block;
    border: none;
    border-radius: 6px;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background-color: #e6493d;
    color: #ffffff;
    font-size: 80%;
    cursor: pointer;
  }
  
  .formulario button:hover {
    background-color: #ec0b0b;
    transform: scale(1.02);
  }