<div class="formcontainer">
  <form [formGroup]="form" (ngSubmit)="guardarTarjeta()" class="formulario">
    <h1>AGREGAR TARJETA</h1>

    <div class="formgroup">
      <label for="dni">DNI DEL TITULAR</label>
      <input id="dni" type="text" formControlName="dni" placeholder="DNI del Titular" maxlength="8">

      <label for="numeroTarjeta">NUMERO DE TARJETA</label>
      <input id="numeroTarjeta" type="text" formControlName="numeroTarjeta" placeholder="Numero de Tarjeta" maxlength="16">

      <label for="titular">NOMBRE Y APELLIDO DEL TITULAR</label>
      <input id="titular" type="text" formControlName="titular" placeholder="Nombre y Apellido" maxlength="40">
    </div>

    <div class="formgroup2">
        <label for="fechaExpiracionMes">FECHA DE VENCIMIENTO</label>
        <input for="fechaExpiracionMes" type="text" formControlName="fechaExpiracionMes" placeholder="MM" maxlength="2" />
        <label for="fechaExpiracionAnio">/</label>
        <input for="fechaExpiracionAnio" type="text" formControlName="fechaExpiracionAnio" placeholder="AA" maxlength="2" />

        <label for="cvv">CVV</label>
        <input id="cvv" type="password" formControlName="cvv" placeholder="CVV" maxlength="3">
    </div>

    <button class="botonlimpiar" type="button" (click)="limpiarFormulario()">LIMPIAR DATOS</button>
    <button class="botonguardar" type="submit" [disabled]="form.invalid">GUARDAR TARJETA</button>
  </form>
</div>
