<div class="listado-tarjetas">
  <table class="tabla">

    <thead>
      <tr>
        <th style=width:120px;>DNI</th>
        <th style=width:350px;>NOMBRE Y APELLIDO</th>
        <th style=width:200px;>NUMERO DE TARJETA</th>
        <th style="width:80px;">EXPIRACION</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let tarjeta of listTarjetas">
        <td>{{ tarjeta.dni }}</td>
        <td>{{ tarjeta.titular }}</td>
        <td>{{ tarjeta.numeroTarjeta }}</td>
        <td>{{ tarjeta.fechaExpiracion }}</td>
        <td>
        <button (click)="editarTarjeta(tarjeta)">EDITAR</button>
        <button (click)="eliminarTarjeta(tarjeta.id)">ELIMINAR</button>
        </td>
      </tr>
    </tbody>

  </table>
</div>