.tabla {
  width: 800px;
  margin: auto;
  background-color: #ccc;
  font-family: 'Montserrat', sans-serif;
  border-radius: 6px;
  white-space: nowrap; /* Evitar salto de línea */
  overflow: hidden; /* Recortar el texto que no quepa */
  text-overflow: ellipsis; /* Agregar puntos suspensivos (...) si el texto se recorta */
}

.tabla th {
  color: #ffffff;
  height: 25px;
  padding: 10px;
  font-size: 16px;
}

.tabla thead tr {
  background-color: #e6493d;
}

.tabla tbody tr:hover {
  background-color: #b3b3b3;
}

.tabla td {
  font-size: 14px;
  padding: 10px;
  color: #1a1a1a;
}

.tabla button {
  display: inline-block;
  border: none;
  border-radius: 6px;
  margin: 0 2px;
  padding: 10px;
  background-color: #e6493d;
  color: #ffffff;
  cursor: pointer;
}

.tabla button:hover {
  background-color: #ec0b0b;
  transform: scale(1.02);
}